<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="version" content="%VITE_VERSION%">
    <meta name="description" content="%VITE_DESCRIPTION%">
    <link rel="icon" href="%BASE_URL%favicon.ico">
    <title>%VITE_TITLE%</title>
  </head>
  <body>
    <div id="app">
      <%- injectSpin %>
    </div>
    <%- injectScript %>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
